$image-height = 146px

:host
  display block
  padding 48px

.grid-tile
  // width 340px

.auction-card
  // margin 6px 4px
  width 100%
  height 80%
  // background-color #eff

.image-container
  background-color #ddd
  height $image-height
  margin-bottom 12px
  // overflow hidden
  // position relative
  // display flex
  // align-items center

.card-image
  max-height $image-height
